# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
mustufa-ansari.pdf

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# .vs/mustafa-ansari.slnx/FileContentIndex/merges/416d5d07-b2c9-4b90-a7d3-fdab462f76e8.vsidx
.vs/slnx.sqlite
.vs/slnx.sqlite-journal
